/node_modules
/public/hot
/public/storage
/public/compiled
/public/compiled/js
/public/compiled/css
/public/fonts
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
